{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Superteacher - Profile</title>
{% endblock title %}

{% comment %} {% block image %}
    
{% endblock image%} {% endcomment %}

{% block main %}
    <main class="main-profile container-profile-avatar">
            <section>
                <div class="banner-profile">
                    <h1 class="text">Profile</h1>
                    <h2 class="text">{{user.first_name}} {{user.last_name}}</h2>
                    <h3 class="text">{{user.email}}</h3>
                    <a class="services-link" href="{% url 'profile_update'%}">Edit profile</a>
                    <div class="profile-top">
                            {% if user.avatar.image %}
                                <div>
                                    <div class="avatar-container avatar-absolute">
                                        <img src="{{user.avatar.image.url}}">
                                    </div>
                                    <a href="{% url 'update_avatar' user.avatar.id %}">
                                        <img class="edit-avatar" src="{% static 'assets/edit-1.svg' %}" alt="">
                                    </a>
                                </div>
                            {% else %}
                                <div>
                                    <div class="avatar-container avatar-absolute">
                                        <img src="{% static 'assets/teacher.svg' %}">
                                    </div>
                                    <a href="{% url 'add_avatar' %}">
                                        <img class="edit-avatar" src="{% static 'assets/edit-1.svg' %}" alt="">
                                    </a>
                                </div>
                            {% endif %}
                            {% if formAvatar %}
                            <div class="form-avatar">       
                                <form method="post" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    {{formAvatar.as_div}}
                                    <div class="form-box">
                                        <input class="submit" type="submit" value="Upload">
                                        <a class="submit" href="{% url 'profile' %}">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-services">
                        {% if services %}
                            <h2 class="text">Your services</h2>
                            <div class="container-services">
                                {% for service in services%}
                                        <div class="card card-services-profile">
                                            <img class="card-img" src="{% static 'assets/cards.webp' %}" alt="classes">
                                            <div class="card-text">
                                                <h2>{{service.subject}}</h2>
                                                <h3>${{service.price}} /hr</h3>
                                                <a class="services-link" href="{% url 'service_detail' service.id %}">More details</a>
                                            </div>
                                            {% if user == service.creator %}
                                                <div class="services-link-container">
                                                    <a class="services-link-profile" href="{% url 'edit_service' service.id %}"><img src="{% static 'assets/edit.svg' %}" alt=""></a>
                                                    <form action="{% url 'delete_service' service.id %}" method="post">
                                                        {% csrf_token %}
                                                        <label class="services-link-profile" for="delete"></label>
                                                        <button class="services-link-profile" id="delete" type="submit"><img src="{% static 'assets/trash.svg' %}" alt=""></button>
                                                    </form>
                                                </div>  
                                            {% endif %}
                                        </div>
                                {% endfor %}
                            </div>
                        <a class="create-service-link" href="{% url 'service' %}">Create a new service</a>
                        {% else %}
                            <h2 class="text">No services created</h2>
                            <a class="create-service-link" href="{% url 'service' %}">Create service</a>
                        {% endif %}
                </div>
            </section>
    </main>
{% endblock main %}