/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1C1F30;
    padding: 0 20px;
    height: 15vh;
}

header a img{
    width: 100px;
}

header nav ul{
    list-style: none;
    display: flex;
    column-gap: 15px;
    font-size: 0;
    align-items: center;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li ul{
    display: none;
    position: absolute;
}

header nav ul li ul li{
    display: block;
    padding-bottom: 30px;
}

header nav ul li:hover ul{
    display: flex;
    /* top: 70px; */
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    z-index: 1;
}

header nav ul li a{
    text-decoration: none;
    color: #1C1F30;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid transparent;
}

header nav ul li a:hover{
    color: #ffffff;
    background-color: #1C1F30;
    border: 1px solid #ffffff;
}

.avatar-nav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.avatar-nav img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* main index */
.banner-details{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner.webp);
    min-height: 85vh;
    background-size: cover;
    background-position-y: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px;*/
} 

.main-profile h1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    font-size: 40px;
}

.main-index h1, .main-index h2{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.main-index a{
    text-decoration: none;
    color: #ffffff;
    background-color: #1C1F30;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

.main-index a:hover{
    color: #1C1F30;
    background-color: #ffffff;
}

/* main sign-up */

.main-sign-up{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner.webp);
    min-height: 85vh;
    background-size: cover;
    background-position-y: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-sign-up .container-sign-up{
    width: 320px;
    background-color: #ffffff8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    font-family: 'Open Sans', sans-serif;
    color: #1C1F30;
    border-radius: 20px 0 20px 0;
    padding: 20px;
    margin-top: 20px;
}

.main-sign-up .container-sign-up h1{
    text-align: center;
}

.main-sign-up .container-sign-up h3{
    color: red;
}

.main-sign-up .container-sign-up form{
    display: flex;
    flex-direction: column;
}

.main-sign-up .container-sign-up form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-sign-up .container-sign-up form div label{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.main-sign-up .container-sign-up form div input{
    width: 200px;
    height: 20px;
    border: 1px solid #1C1F30;
    border-radius: 3px;
    outline: none;
}

.main-sign-up .container-sign-up form div input:focus{
    outline: none;
}

.main-sign-up .container-sign-up form .submit{
    color: #ffffff;
    background-color: #1C1F30;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid transparent;
    margin-top: 15px;
    cursor: pointer;
}

.main-sign-up .container-sign-up a{
    /* text-decoration: none; */
    color: #1C1F30;
    font-family: 'Open Sans', sans-serif;
}

.helptext{
    width: 200px;
    font-size: 12px;
    padding: 8px 0;
    color: #1C1F30;
    font-family: 'Open Sans', sans-serif;
}

.errorlist{
    width: 200px;
    list-style: none;
    color: red;
    font-size: 12px;
}

.error-list li{
    padding-bottom: 8px;
}

/* main dashboard */
.main-dashboard .banner-dashboard{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner-dash.webp);
    background-size: cover;
    height: 70vh;
    background-position-y: -320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-dashboard h1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.main-dashboard h1{
    font-size: 40px;
}

.main-dashboard form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    column-gap: 5px;
}

.main-dashboard form input{
    width: 40vw;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #1C1F30;
}

.main-dashboard form .submit{
    width: 80px;
    background-color: #1C1F30;
    color: #ffffff;
}

.main-dashboard form .submit:hover{
    width: 80px;
    background-color: #ffffff;
    color: #1C1F30;
    cursor: pointer;
}

.main-dashboard .services{
    background-color: #1C1F30;
    padding-bottom: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-dashboard .services .list-services{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding: 20px;
}

.main-dashboard .services .services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    row-gap: 20px;
}

.card{
    width: 250px;
    height: 300px;
    background-color:  #ffffff8c;
    border-radius: 20px 0 20px 0;
    overflow: hidden;
}

.card .card-img{
    height: 170px;
    width: 100%;
    mask-image: linear-gradient(rgba(255, 255, 255, 0.923), rgba(255, 255, 255, 0.604));
    -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 0.923), rgba(255, 255, 255, 0.604));
}

.card .card-text{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px;
}

.main-dashboard h3, .main-dashboard h2{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.services-link{
    text-decoration: none;
    color: #ffffff;
    background-color: #1C1F30;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.services-link:hover{
    text-decoration: none;
    color: #1C1F30;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

/* main profile */
.banner-profile{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner-profile.webp);
    background-size: cover;
    height: 60vh;
    background-position-y: -190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.banner-profile .profile-top{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.text{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.banner-profile h1{
    padding-bottom: 10px;
    font-size: 40px;
}

.banner-profile h2{
    font-size: 30px;
}

.banner-profile h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.profile-services{
    background-color: #1C1F30;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.container-services{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    flex-wrap: wrap;
}

.card-services-profile{
    height: auto;
    margin-top: 20px;
}

.create-service-link{
    text-decoration: none;
    color: #1C1F30;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid transparent;
    margin: 20px 0;
}

.create-service-link:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #1C1F30;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ffffff;
}

.services-link-container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.services-link-container button{
    background: none;
    border: none;
} 

.services-link-profile button img{
    width: 40px;
    padding: 10px;
}

.services-link-profile{
    border-radius: 10px;
}

.services-link-profile img{
    width: 40px;
    background-color: #1C1F30;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.main-profile .container-profile, .container-profile-details{
    width: 320px;
    height: 300px;
    background-color: #ffffff8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    font-family: 'Open Sans', sans-serif;
    color: #1C1F30;
    border-radius: 20px 0 20px 0;
}

.avatar-container{
    width: 150px;
    height: 150px;
}

.avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #1C1F30;
}

.main-profile .container-profile form{
    display: flex;
    flex-direction: column;
}

.main-profile .container-profile form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-profile .container-profile form div label{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.main-profile .container-profile form div input{
    width: 200px;
    height: 20px;
    border: 1px solid #1C1F30;
    border-radius: 3px;
    outline: none;
}

.main-profile .container-profile form div input:focus{
    outline: none;
}

.main-profile .container-profile form .submit{
    color: #ffffff;
    background-color: #1C1F30;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid transparent;
    margin-top: 15px;
    cursor: pointer;
}

.main-profile .container-profile a{
    /* text-decoration: none; */
    color: #1C1F30;
    font-family: 'Open Sans', sans-serif;
}

.container-profile-details a{
    color: #ffffff;
    background-color: #1C1F30;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid transparent;
    margin-top: 15px;
    cursor: pointer;
}

.container-profile-details div{
    padding: 10px;
}

.container-profile-details div h3{
    padding-bottom: 10px;
}

.container-profile-details h2{
    color: #1C1F30;
}

.container-profile form div textarea{
    width: 200px;
    height: 95px;
}

.center{
    text-align: center;
}

.container-profile-avatar{
    position: relative;
}

.form-avatar{
    position: absolute;
    top: 200px;
    right: 20px;
    width: 200px;
}

.form-avatar form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .form-avatar form div{
    display: none;
} */

.form-avatar label{
    display: none;
}

.form-avatar .label{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #ffffff;
    background-color: #1C1F30;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid transparent;
    cursor: pointer;
}

.form-avatar .label img{
    width: 20px;
}

.form-avatar #id_image{
    color: #ffffff;
    background-color: #1C1F30;
    width: 100%;
}

.form-avatar form div{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #1C1F30;
    border: 1px solid #1C1F30;
    width: 100%;
}

.form-avatar form a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.form-avatar form div #image-clear_id{
    display: none;
}

.form-avatar .submit{
    color: #ffffff;
    background-color: #1C1F30;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid transparent;
    margin-top: 8px;
    cursor: pointer;
    width: auto;
    text-decoration: none;
}

.form-avatar .form-box{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    width: 80%;
}

.avatar-absolute{
    position: absolute;
    right: 40px;
    top: 40px;
}

.edit-avatar{
    width: 30px;
    position: absolute;
    top: 152px;
    right: 40px;
    background-color: #1C1F30;
    border-radius: 20px;
    padding: 5px;
}

/* Service details */
.container-service{
    width: 320px;
    background-color: #ffffff8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    font-family: 'Open Sans', sans-serif;
    color: #1C1F30;
    border-radius: 20px 0 20px 0;
    padding: 15px;
}

.container-service p{
    text-align: center;
}

/* Create Service */

.banner-create-service{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner-profile.webp);
    background-size: cover;
    height: 85vh;
    background-position-y: -190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

/* Logout */
.banner-logout{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner.webp);
    background-size: cover;
    height: 85vh;
    background-position-y: -190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 30px 30px 30px;
}

.logout-link{
    margin-top: 30px;
}

/* About me */
.container-about-me{
    display: flex;
    margin-top: 20px;
}

/* .container-about-me .container-img{
    width: 200px;
    height: 200px;
}

.container-img img{
    width: 100%;
    object-fit: cover;
} */

.container-left{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
}

.container-img{
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #1C1F30;
}

.container-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-social-media h3{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.social-media{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    /* align-items: center; */
}

.social-media a .icon{
    width: 40px;
    background-color: #1C1F30;
    border-radius: 50%;
    padding: 8px;
    object-fit: contain;
    border: 1.5px solid #ffffff;
}

.icon-linkedin{
    width: 41px;
    height: 41px;
    background-color: #ffffff;
    border-radius: 50%;
    /* padding: 8px;
    object-fit: contain;*/
} 

.container-text{
    width:45vw;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 0 25px;
}

.container-text h1{
    font-size: 30px;
    padding-bottom: 10px;
}

.container-text p{
    font-size: 20px;
}

.banner-about-me{
    background: linear-gradient(to right, #00000073, #00000073), url(./../assets/banner.webp);
    min-height: 85vh;
    background-size: cover;
    background-position-y: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-about-me h2{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

strong{
    font-size: 22px;
}