{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Superteacher - Home</title>
{% endblock title %}

{% block main %}
    <main class="main-dashboard">
        <section class="banner-dashboard">
            {% if user.is_authenticated %}
                <h1>Welcome to Superteacher, {{ user.first_name }}</h1>
            {% else %}
                <h1>Welcome to Superteacher</h1>
            {% endif %}
            <h3>What do you want to learn?</h3>
            <form action="{% url 'search_service'%}" method="post">
                {% csrf_token %}
                <input type="text" name="search">
                <input class="submit" type="submit" value="Search">
            </form>
        </section>
        <section class="services">
            <a href="{% url 'dashboard' %}">List all services</a>
            {% if services%}
                <div class="services-list">
                    {% for service in services%}
                        <a href="{% url 'service_detail' service.id %}">
                            <div class="card">
                                <img src="{% static 'assets/cards.webp' %}" alt="classes">
                                <div class="card-text">
                                    <h2>{{service.subject}}</h2>
                                    <h3>${{service.price}} /hr</h3>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% else %}
                        <div>
                            <h2>No results</h2>
                        </div>
                    {% endif %}
                </div>
        </section>
    </main>
{% endblock main %}