{% extends "base_2.html" %}
{% load static %}

{% block title %}
    <title>Superteacher - Profile</title>
{% endblock title %}

{% comment %} {% block image %}
    
{% endblock image%} {% endcomment %}

{% block main %}
    <main class="main-profile">
        {% if form %}
            <section>
                <div class="banner-profile">
                    <h1>Profile</h1>
                    <div class="container-profile">
                        <h2 class="center">Create your professor account</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_div}}
                            <input class="submit" type="submit" value="Create profile">
                        </form>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if professor%}
            <section>
                <div class="banner-profile">
                    <div class="profile-top">
                        <h1>Profile information</h1>
                        <img src="{% static 'assets/avatar.webp' %}">
                    </div>
                    <div class="container-profile-details">
                        <h2>{{professor.name}}</h2>
                        <div>
                            <h3>Email: {{professor.email}}</h3>
                            <h3>Phone: {{professor.phone_number}}</h3>
                        </div>
                        <a href="{% url 'service' %}">Promote your classes</a>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock main %}