{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Superteacher - Profile</title>
{% endblock title %}

{% comment %} {% block image %}
    
{% endblock image%} {% endcomment %}

{% block main %}
    <main class="main-profile">
            <section>
                <div class="banner-profile">
                    <h1>Profile</h1>
                    <div class="profile-top">
                        <div>
                            <h1>{{user.first_name}} {{user.last_name}}</h1>
                            <h3>{{user.email}}</h3>
                            <a href="{% url 'profile_update'%}">Edit profile</a>
                        </div>
                            {% if user.avatar.image %}
                                <div>
                                    <img src="{{user.avatar.image.url}}">
                                    <a href="{% url 'update_avatar' user.avatar.id %}">Change avatar</a>
                                </div>
                            {% else %}
                                <div>
                                    <img src="{% static 'assets/avatar.webp' %}" alt="">
                                    <a href="{% url 'add_avatar' %}">Añadir avatar</a>
                                </div>
                            {% endif %}
                    </div>
                </div>
                {% if services %}
                    <div>
                        {% for service in services%}
                            <a href="{% url 'service_detail' service.id %}">
                                <div class="card">
                                    <img src="{% static 'assets/cards.webp' %}" alt="classes">
                                    <div class="card-text">
                                        <h2>{{service.subject}}</h2>
                                        <h3>${{service.price}} /hr</h3>
                                    </div>
                                    {% if user == service.creator %}
                                        <a href="{% url 'edit_service' service.id %}">Edit</a>
                                        <form action="{% url 'delete_service' service.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Delete">
                                        </form>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                        <a href="{% url 'service' %}">Create a new service</a>
                        {% else %}
                            <h2>No services</h2>
                            <a href="{% url 'service' %}">Create service</a>
                    </div>
                {% endif %}
                {% if form %}
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_div}}
                            <input type="submit" value="Save">
                        </form>
                    </div>
                {% endif %}
                {% if formAvatar %}
                    <div>
                        <h1>Cargar Avatar</h1>

                        <form method="post" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{formAvatar.as_div}}
                            <input type="submit" value="Upload image">
                        </form>
                    </div>
                {% endif %}
            </section>
    </main>
{% endblock main %}