{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Superteacher - Class Detail</title>
{% endblock title %}

{% block main %}
    <main class="main-profile">
        <section class="banner-details">
            <h1>Class details</h1>
            <div class="container-service">
                <h2>Subject: {{object.subject}}</h2>
                {% if object.creator.avatar.image %}
                    <div class="avatar-container">
                        <img src="{{object.creator.avatar.image.url}}" alt="Creator">
                    </div>
                {% endif %}
                <h3>Description: </h3>
                <p>{{object.description}}</p>
                <h3>Professor: {{object.creator.first_name}} {{object.creator.last_name}}</h3>
                {% if user.is_authenticated %}
                    <h3>Email: {{object.creator.email}}</h3>
                {% else %}
                    <p>You must log in to see the professor's contact information</p>
                {% endif %}
                <h4>${{object.price}} /hr</h4>
                <a class="services-link" href="{% url 'dashboard' %}">Go back home</a>
            </div>
        </section>
    </main>
{% endblock main %}