{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/superteacher-logo.jpg' %}" alt="superteacher logo">
        </a>
        <nav>
            <ul>
                <li>
                    <a>Registro</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %} {% endblock main %}
    </main>
    <footer>

    </footer>
</body>
</html>